* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
html {
    height: 100vh;
    width: 100vw;
    background-color: #f7f8fa;
}

main h1 {
    margin-top: 20px;
    text-align: center;
}

main section h2 {
    text-align: center;
}

h2 {
    margin: 20px 0;
}

section.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

label {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

input[type=radio] {
    all: unset;
}

label i {
    position: absolute;
}

input[type=radio]:checked {
    background-color: #add8e6;
    border-radius: 10%;
    width: 80px;
    height: 80px;
}

#iniciarPartida {
    all: unset;
    width: 200px;
    height: 30px;
    border: 1px solid #1e1e1e;
    text-align: center;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #9acd32;
}

@media (max-width: 600px) {

    section label {
        border: 1px solid #1e1e1e;
        width: 80px;
        height: 80px;
        font-size: 50px;
        border-radius: 10%;
    }

    .vitoria {
        background-color: #9acd32;
        color: #fff;
        width: 100vw;
        height: 40px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derrota {
        background-color: red;
        color: #fff;
        width: 100vw;
        height: 40px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .empate {
        background-color: orange;
        color: #1e1e1e;
        width: 100vw;
        height: 40px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #escolhaDaMaquina {
        border-radius: 10px;
        position: relative;
        flex: 1 2 100vw;
    }

    #escolhaDaMaquina section {
        border: 1px solid #1e1e1e;
        width: 280px;
        height: 33vh;
        font-size: 150px;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #exibirResultado{
        height: 50px;
    }
}

@media (min-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    section label {
        width: 80px;
        height: 80px;
        font-size: 50px;
        border-radius: 10%;
    }

    .options{
        width: 300px;
    }

    .vitoria {
        color: #9acd32;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #1e1e1e;
        font-size: 25px;
    }

    .derrota {
        color: #f00;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #1e1e1e;
        font-size: 25px;
    }

    .empate {
        color: #ffa500;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #1e1e1e;
        font-size: 25px;
    }

    #areaDoUsuario{
        height: 100%;
    }

    #exibirResultado{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }

    #escolhaDaMaquina {
        height: 100%;
    }

    #escolhaDaMaquina section {
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}